html,body{
    height:100%;
    font-family: Nunito;
}

.flex-fill {
    flex:1;
}
.sidebar-bg-color{
    background-color: #0471DD;
}
.sidebar-collapse{
    margin-top:0.5pt;
    background-color: white;
    padding: 2pt;
    border-radius: 5px;
}
hr.new3{
    height: 1px;
    background-color: rgb(236, 236, 236);
    border: none;
}
.sidebar-text{
    text-decoration: none;
    color: #b4c6d9;
    font-family: Nunito;
    font-size: 12pt;
    font-weight: 300;
}
.sidebar-text.active{
    text-decoration: none;
    color: white;
    font-family: Nunito;
    font-size: 14pt;
    font-weight: 300;
}
.sidebar-link{
    text-decoration: none;
    color: #b4c6d9;
    font-family: Nunito;
    font-size: 12pt;
    font-weight: 300;
    padding-left: 0;
    transition: padding-left 0.3s, font-weight 0.2s;
}
.sidebar-link:hover{
    text-decoration: none;
    color: white;
    padding-left: 5pt;
    font-weight: bold;
}
.sidebar-link.active{
    color: #ffffff;
    font-weight: bold;
}
.sidebar-option-btn{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.sidebar-option-btn i.left{
    justify-self: flex-end;
}
.link-sidebar-option{
    border-style: none;
    text-decoration: none;
    color: #465968;
    text-align: left;
    font-family: Nunito;
    font-weight: 400;
    padding: 6pt;
    padding-left: 10pt;
    background-color: unset;
    cursor:pointer;
    transition: background-color 0.2s, padding-left 0.3s, font-weight 0.2s;
    font-size: 10pt;
}
.link-sidebar-option:hover{
    border-style: none;
    text-align: left;
    font-family: Nunito;
    font-weight: bold;
    padding: 6pt;
    padding-left: 12pt;
    background-color: #E5ECF7;
    border-radius: 5px;
}
.sidebar-title{
    text-align:left;
    font-family: Nunito;
    color: black;
    text-transform: uppercase;
    font-size: 9pt;
    margin-bottom:12pt;
    margin-top:5pt;
    font-weight: bold;
    color: #b4c6d9;
}
#topbaradmin .navbar{
    padding-left: 12pt;
    padding-right: 12pt;
    -webkit-box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17); 
    box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17);
    font-family: Nunito;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
#topbaradmin li.nav-item{
    font-size: 1rem;
    font-family: Nunito;
}

.container { 
    overflow: hidden; 
  } 

.admin-page-title{
    font-family: Nunito;
    font-size: 20pt;
    color:#293A54;
    font-weight: bold;
}
.admin-page-description{
    font-size: 13pt;
    font-family: Nunito;
    color:#757f8f;
    text-align: justify;
}
.admin-cards{
    background-color: white;
    border-radius: 5px;
    padding: 15pt;
    -webkit-box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17); 
    box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17); 
    font-size: 9pt;  
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.admin-cards.border-blue{
    border-left: solid 4px #3498DB; 
}
.admin-cards.border-green{
    border-left: solid 4px #27AE60; 
}
.admin-cards.border-magenta{
    border-left: solid 4px #8E44AD; 
}
.admin-cards.border-orange{
    border-left: solid 4px #F39C12; 
}
.admin-cards.border-red{
    border-left: solid 4px #E74C3C; 
}
.admin-cards.border-blue .title{
    font-family: Nunito;
    color:#3498DB;
}
.admin-cards.border-green .title{
    font-family: Nunito;
    color:#27AE60;
}
.admin-cards.border-magenta .title{
    font-family: Nunito;
    color:#8E44AD;
}
.admin-cards.border-orange .title{
    font-family: Nunito;
    color:#F39C12;
}
.admin-cards.border-red .title{
    font-family: Nunito;
    color:#E74C3C;
}
.admin-cards .value{
    font-family: Nunito;
    font-weight: bold;
    font-size: 15pt;
    color: #4E4E4E;
}
.admin-cards i.icon{
    font-size: 40pt;
    color: #DDDFEB;
}
.admin-content{
    background-color: white;
    padding: 14pt;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17); 
    box-shadow: 0px 5px 14px -1px rgba(0,0,0,0.17); 
    margin-top: 2pt;
}
.admin-content h1{
    font-family: Nunito;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 5pt;
    border-bottom: solid 1px gray;
    text-transform: uppercase;
    color: #575757;
}
.colapse-button{
    border-style: unset;
    background-color: transparent;
    color: #a3a3a3;
    font-size: 16pt;
    margin-right: 10pt;
    transition: font-size 0.3s, color 0.2s;
}
.colapse-button:hover{
    border-style: unset;
    background-color: transparent;
    color: #0471DD;
    font-size: 22pt;
}